$color-green-light:#7ed56f;
$color-green-medium:#55c57a;
$color-green-dark:#28b485;
$color-green-str:#14403d;


$color-red-light:#ff523b;
$color-red-dark:#c23a3a;

$color-brown:#8b4c28;
$color-brown-dark:#592012;

$color-blue-soft:#548ca3;
$color-blue-medium:#24597b;
$color-blue-dark:#283342;
$color-blue-open:#2a48b2;
$color-blue-open2:#3c599a;

$color-blue-str:#283342;


$color-grey-light:#777;

$color-secondary: #101d2c;

$white:#fff;
$white-gray:#f8f9fa;

$black:#000;

$font-display: 'Josefin Sans',
sans-serif;