*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;


}

body {
    box-sizing: border-box;
    @include openSans;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.parent-box {
    max-width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;
}